<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CS480.hoa">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:authorities="com.CS480.hoa.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>

        <activity android:name=".ViewPhotoActivity" />
        <activity android:name=".BlankActivity" />
        <activity
            android:name=".EditRulesAndPoliciesActivity"
            android:parentActivityName=".AdminMainActivity" />
        <activity
            android:name=".ViewRulesAndPoliciesActivity"
            android:parentActivityName=".HomeOwnerMainActivity" />
        <activity
            android:name=".EditHomeOwnerMainActivity"
            android:parentActivityName=".AdminMainActivity" />
        <activity
            android:name=".EditHomeOwnerActivity"
            android:parentActivityName=".EditHomeOwnerMainActivity" />
        <activity android:name=".WorkOrderViewActivity" />
        <activity
            android:name=".CreateNewWorkOrderActivity"
            android:parentActivityName=".HomeOwnerMainActivity" />
        <activity
            android:name=".AdminMainActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".HomeOwnerMainActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".CreateNewHomeOwnerActivity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>